include modul-audio.pug
include modul-video.pug

mixin media(media)
  -
    const hasGallery = (media.galerie !== undefined) && (media.galerie !== false);
    const classGallery = hasGallery ? "with-submodule" : "";
    const classVertical = media.nastaveni.layout === "vertikalni" || media.nastaveni.layout === "galerie" || media.nastaveni.layout === "velka-galerie" ? "layout-vertical" : "";
    const classHorizontal = media.nastaveni.layout === "horizontalni" ? "layout-horizontal" : "";

  .row.media-players(class= classGallery)
    if (hasGallery)
      //- same as +faksimile-component
      +gallery(media.galerie, media.nastaveni.layout)

    .media-container(class= classVertical + " " + classHorizontal)
      each mediaItem, index in media.soubory

        //- get filename extension
        -
          const mediaExtension = mediaItem.soubor.split('.').pop()
          const isAudio = checkExtension(extensionsAudio, mediaExtension) ? "audio" : "";
          const isVideo = checkExtension(extensionsVideo, mediaExtension) ? "video" : "";
          const isImage = checkExtension(extensionsImage, mediaExtension) ? "image" : "";
          const mediaType = isAudio + isVideo + isImage;

        .media-item(class="media-" + mediaType)
          case mediaType
            when "audio"
              +audioPlayer(mediaItem)
            when "video"
              +videoPlayer(mediaItem)
            when "image"
              +captionOnHover(mediaItem.popisek)
              +fullscreenToggle()
              img.source-image(data-lupa-target="" src="../assets/img/" + mediaItem.soubor)

      //- add single play/pause button for all media when "mix"
      //- if media.nastaveni.typ === "mix"
      //-   .media-item
      //-     button.button.button-ok
      //-       span
      //-         svg.media-symbol.media-play-symbol(role="presentation" aria-hidden="false")
      //-           use(xlink:href="#icon-media-play")
      //-         svg.media-symbol.media-pause-symbol(role="presentation" aria-hidden="true")
      //-           use(xlink:href="#icon-media-pause")
      //-       span Přehrát společně
