<p style="font-style: italic">Velevážené <br><br>vládě republiky Česko-Slovenské<br><br> v Praze III.<br><br>

Valdštýnská 12.<br><br>

JUDr. Bohumil Šedivý, kandidát advokacie v Plzni, Klostermannova ul. č. 3,<br><br>

1/ žádá uctivě o řešení židovské otázky k cíli umožnění existence,<br>
2/ a činí uvnitř uvedenou zdvořilou žádost.<br>
 <br><br>
Jednou.

<br><br>
Slovutné vládě republiky Česko-Slovenské <br><br>v Praze.
</p>

<p>
Já podepsaný JUDr. Bohumil Šedivý, narodil jsem se dne 26./12.1907 v Plzni, takže jsem 31 léta stár. Moji rodiče byli rození Češi (matka z Chodska), i já jsem národnosti české. V Plzni jsem vystudoval vždy s vyznamenáním české státní reálné gymnasium, v Praze studoval s vyznamenáním na právnické fakultě Karlovy university a stal se doktorem práv v 23 létech. Mám téměř dvouletou soudní praksi v Plzni a nyní 6 letou advokátní praksi, konanou v prvých 3 létech u JUDra. Augustina Šípa, prvního náměstka starosty města Plzně a nyní u JUDra. Matouše Mandla, druhého náměstky starosty města Plzně a advokátů v Plzni. Domovským právem přísluším do Plzně.
</p>
<p>
  Nyní po dlouhém studiu umožněném obětmi chudé matky vdovy a absolování předepsané advokátní prakse nadešel čas, abych si založil vlastní existenci. Je nasnadě, že z důvodů shora uvedených mohu a také bych chtěl míti vlastní advokátní kancelář v Plzni. Během doby však vzrostl počet advokátů v Plzni na 70, t.j. na počet, jímž jsou téměř ohroženi již zapsaní advokáti na své výživě. Z tohoto počtu je ale asi přes 50% židů, většinou národnosti německé, nebo židovské, kteří do Plzně přišli odjinud, Čechy nebyli a ani se jimi nikdy necítili. Jsou majetkově silni, takže konkurence s nimi je pro mne českého, nemajetného kandidáta advokacie, syna vdovy po dělníku bez podpory nemožna. Ve stejné situaci jsou i ostatní čeští kolegové, kandidáti advokacie v Plzni a na venkově tomu není lépe.
</p>

<p>
  Výhled do budoucnosti je nyní za daného stavu pro mne jasný a hrozný. Nezmění-li se poměry, budu v budoucnosti bez existence já, má matka, o založení rodiny nemluvě, a budu přihlížeti, jak židovští advokáti, židovské nebo německé národnosti v české Plzni jsou dobře živi z peněz plzeňských českých lidí.
</p>

<p>
  Prosím proto slovutnou vládu republiky Česko-Slovenské za laskavou radu, co mám dělat, abych uživil sebe, 68 let starou matku, bez pense a podpory, na mne odkázanou, abych se mohl s dobrým svědomím oženit a založit rodinu.
</p>

<p>
V nejhlubší úctě jsem<br><br>

Dr. Bohumil Šedivý<br><br>

V Plzni, dne 2. ledna 1939

</p>
