<h1>Škola má učit, ale i vychovávat socialistického člověka</h1>
<p>
(z projevu ministra školství ČSR Jaromíra Hrbka z 1. 9. 1969)</p>

<p>Naši učitelé škol všech stupňů mají velmi náročný a odpovědný úkol: nejen odborně vzdělávat, nýbrž také mravně, ideově a politicky vychovávat. Trpké zkušenosti posledních let ukázaly, jak značné jsou právě nedostatky výchovné práce. Klíč k obratu mají v rukou učitelé. Musí převzít největší část odpovědnosti za to, jakou mládež budeme mít. Právě v tom tkví mimořádný společenský význam práce učitele, jíž musí být znovu vrácena vážnost, úcta a vděčnost všech. Nenávratně skončilo destruktivní působení tisku, rozhlasu a televize, a naopak masové sdělovací prostředky se staly našimi významnými pomocníky. Dnes již má každý občan naší země dostatek poznatků a důkazů, že jediným motivem a cílem vstupu vojsk Varšavské smlouvy byla snaha včas zabránit pokusu jednotné fronty pravicových oportunistů a protisocialistických sil o provedení kontrarevolučního převratu, který by přivodil naší zemí nedozírnou katastrofu. </p>
<p>Dnes máme  tři skupiny nebo typy učitelů.</p>
<p>První skupinu tvoří naši soudruzi a soudružky, kteří si po celý svůj život uchovali čistý štít, kteří ani v nejtěžších chvílích neztratili orientaci, zůstali věrni zásadám marxismu-leninismu a proletářského internacionalismu a byli za to často vystaveni útokům a teroru, bylo jim spíláno zrádců a kolaborantů. Oni však vydrželi, bojovali a zvítězili. O tyto vyzkoušené a v boji zocelené kádry se budeme ve své školské politice opírat. Každý, kdo se účastnil ničemných kampaní proti těmto soudruhům, bude volán k odpovědnosti a musí se postiženým veřejně omluvit a dát jim plnou satisfakci.</p>
<p>Druhou skupinu tvoří valná část našich učitelů, kteří se přechodně stali obětí dezinformací, dali se strhnout převládajícím názorovým proudem, a především podlehli pochopitelnému šoku a rozbouřeným emocím a afektům po srpnu roku 1968. Jde namnoze o odborně schopné a čestné pracovníky, jejichž práce jsme si vážili a s jejichž spoluprací chceme nadále počítat. Nelze přece trestat svedenou oběť, když svůdci byli namnoze vysoce postavení funkcionáři strany a státu. Umožníme těmto učitelům, aby si v otevřené, věcné a trpělivé rozpravě s námi vyjasnili své názory, odstranili zábrany a čestně, z vlastní vůle opět našli své správné místo na veliké frontě socialistické školy.</p>
<p>Třetí skupinu učitelů - zejména na některých fakultách a ve vědeckých ústavech - tvoří inspirátoři, iniciátoři a organizátoři revizionistických, protikomunistických a protisovětských akcí. Jsou to nepřátelé strany a státu a podle toho vůči nim budeme postupovat. S nepřítelem nejednáme, nýbrž bojujeme ze všech sil, aby byl izolován a poražen, politicky a ideologicky rozdrcen. Pro učitele a pracovníky tohoto typu nebude na našich školách a ústavech místo.</p>
