<h1>Odpolední čaj</h1>

<p>Nikdo nedělá čaj tak dobře jako Britové - tady to není jen tradice, ale přímo náboženství.
  Chcete-li si vychutnat ten nejlepší, zamiřte do některé z kaváren, například do Huffkins (str. 143),
  nebo do venkovského hotýlku, kde se podávají klasické odpolední svačiny - v podobě hostiny pro labužníky s koláčky,
  sendviči a konvicí čaje, pochopitelně sypaného. Typický anglický nápoj se popíjí po malých doušcích z čínských čajových šálků.
  Ještě lepší je, že každá oblast má svou vlastní, lehce odlišnou verzi.</p>
